h2{
    color: red;
}
p,h2{
    text-align: center;
    font-size: 30px;
}
.button {
    color: black;
    margin-left: 500px; 
    border: solid black 1px;
    border-radius: 8px;
    background-color: red;
    width: 250px;
}
