@model RegistrationAndLogin.Models.Compra
<link href="~/Content/PagRev.css" type="text/css" rel="stylesheet" />
@{
    ViewBag.Title = "CompraError";
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {

    }
}
<body class="b">
    <h2>OPS! Algumas informações estão faltando</h2>

    <div class="p">
        <hr />
        <p>Você esqueceu do tipo de pagamento e sua compra não pode ser completada. Clique em "Voltar ao Carrinho" para finalizar sua compla</p>
        <p class="button">
            @Html.ActionLink("Voltar à Compra", "Index")
        </p>
    </div>

</body>