/*body {
    background: url(../img/fundorincipal.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    width: 22%;
    position: relative;
    left: 20px;
    top: -8px;
    font-family: Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    color: white;
    border: solid black 1px;
    border-radius: 2px;
    background-color: orange;
}

h2 {
    width: 22%;
    position: relative;
    left: 50px;
    top: -8px;
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    
}

img, a {
    float: left;
}

legend {
    font-family: Arial, sans-serif;
    font-size: 20px;
    max-height: 500px;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

form {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url(../img/fundo.png);
    max-width: 500px;
    margin: 0 auto;
    padding: 0 5px 10px 10px;
}

#Dubai {
    table-layout: fixed;
    float: left;
    font-family: Arial, sans-serif;
    padding-top: 50px;
    padding-right: -50px;
    padding-left: 300px;
}

.p {
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 202px;
    position: relative;
    color: white;
    background-color: orange;
    border: solid black 1px;
    border-radius: 3px;
}

input {
    font-family: Arial, sans-serif;
    background-color: green;
    margin-left: 20px;
    height: 100px;
    width: auto;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid;
    color: black;
    cursor: pointer;
}

p:hover {
        background-color: lawngreen;
    }

a:hover {
    opacity: 0.6;
}*/

.demo-1 {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    background-color: rgba(26,76,110,0.5)
}

    .demo-1 p, .demo-1 h2 {
        color: #fff;
        padding: 10px;
        left: -20px;
        top: 20px;
        position: relative
    }

    .demo-1 p {
        font-family: 'Lato';
        font-size: 12px;
        line-height: 18px;
        margin: 0
    }

    .demo-1 h2 {
        font-family: 'Lato';
        font-size: 20px;
        line-height: 24px;
        margin: 0;
    }

.effect img {
    position: absolute;
    margin: -15px 0;
    right: 0;
    top: 0;
    cursor: pointer;
    -webkit-transition: top .4s ease-in-out,right .4s ease-in-out;
    -moz-transition: top .4s ease-in-out,right .4s ease-in-out;
    -o-transition: top .4s ease-in-out,right .4s ease-in-out;
    transition: top .4s ease-in-out,right .4s ease-in-out
}

    li img.top:hover {
        top: -230px;
        right: -330px;
        padding-bottom: 200px;
        padding-left: 300px
    }
