@model RegistrationAndLogin.Models.Carrinho
<link href="~/Content/PagRev.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "CarrinhoError";
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {

    }
}
<body class="b">
    <h2>OPS! Algumas informações estão faltando</h2>

    <div class="p">
        <hr />
        <p>Você esqueceu de algumas informações.Clique em "Voltar ao Carrinho" para finalizar sua compra</p>
        <p class="button">
            @Html.ActionLink("Voltar ao Carrinho", "Index")
        </p>
    </div>

</body>