<link rel="stylesheet" type="text/css" href="~/Layout.css" />

@{
    ViewBag.Title = "Dubai";
}

<h2>Dubai</h2>

<div id="Dubai">
    <a href="/Home/Dubai"><img src="~/img/dubai.jpg" width="280" height="200" float="left" class="Dubai"></a>
</div>
<div id="Dubai">
    <a href="/Home/Dubai"><img src="~/img/d2.jpg" width="280" height="200" class="Dubai"></a>
</div>
<div id="Dubai">
    <a href="/Home/Dubai"><img src="~/img/d3.jpg" width="280" height="200" class="Dubai"></a>
</div>
<div id="Dubai">
    <a href="/Home/Dubai"><img src="~/img/d4.jpeg" width="280" height="200" class="Dubai"></a>
</div>
