<link rel="stylesheet" type="text/css" href="~/Content/StylePag.css" />

@{
    ViewBag.Title = "Florianopolis";
}
<body>
    <h2>Florianopolis</h2>
    <div class="imgT">
        <div>
            <img class="img" src="~/img/pontefloriano.jpg" width="280" height="200" float="left">
        </div>
        <div>
            <img class="img" src="~/img/f2.jpg" width="280" height="200">
        </div>
        <div>
            <img class="img" src="~/img/f3.jpg" width="280" height="200">
        </div>
        <div>
            <img class="img" src="~/img/f4.jpg" width="280" height="200">
        </div>
    </div>
    <div class="conteudo">
        <img class="hotel" src="~/img/hotelF.jpg" width="280" height="200" />
        <p class="p">Majestic Palace</p>
        <p class="p2">
            Com cafe da manhã - 7 noites </br></br> O Majestic Palace está localizado na região central de Florianópolis, a 150 m Shopping Beiramar e a 13 km do Aeroporto Internacional de Florianópolis. O hotel dispõe de piscina descoberta e internet Wi-Fi gratuita nos quartos e nas áreas sociais.
        </p>
    </div>
    <div class="preco">
        <p class="legenda">Preço por pessoa</p>
        <p class="RealP">Voo + Hotel</br>Café da manhã</br></br>  R$</p>
        <p class="precoP">2.240</p>
        <input name="Seguinte" type="button" value="Seguinte" />
    </div>

    <div class="conteudo2">
        <img class="hotel" src="~/img/hotel-maria-do-mar-floripa.jpg" width="280" height="200" />
        <p class="p">Maria do Mar Hotel</p>
        <p class="p2">
            Com cafe da manhã - 7 noites </br></br> O Maria do Mar Hotel está localizado em Florianópolis, a 1 km do Floripa Shopping e a 5 km do Beiramar Shopping. O Aeroporto Internacional de Florianópolis está a 18 km. O hotel oferece piscina descoberta adulto e infantil.
        </p>
    </div>
    <div class="preco2">
        <p class="legenda">Preço por pessoa</p>
        <p class="RealP">Voo + Hotel</br>Café da manhã</br></br>  R$</p>
        <p class="precoP">1.164</p>
        <input name="Seguinte" type="button" value="Seguinte" />
    </div>

</body>