
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Pacotes</title>
    <link href="~/Content/StyleHome.css" rel="stylesheet" type="text/css" />

</head>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <p class="saud">
            Seja Bem vindo @HttpContext.Current.User.Identity.Name
        </p>
    }
}
        <body>

            <div class="titulo">
                <h1>Compra de pacotes</h1>
                <h2>Selecione os pacotes</h2>
            </div>
            <div id="F">
                <img src="~/img/Rio de Janeiro.jpg" width="280" height="200">
                <a id="t" href="/Home/RiodeJaneiro" class="pF">Rio de Janeiro </br> Pacotes</br> R$ 303,00</a>
            </div>


            <div id="F">
                <img src="~/img/pontefloriano.jpg" width="280" height="200">
                <a id="t" href="/Home/Florianopolis" class="pF">Florianopolis</br> Pacotes</br> R$ 243,00</a>
            </div>

            <div id="F">
                <img src="~/img/santiago.jpg" width="280" height="200">
                <a id="t" href="/Home/Santiago" class="pF">Santiago</br> Pacotes</br> R$ 722,00 </a>
            </div>

            <div id="F">
                <img src="~/img/buenosaires.jpg" width="280" height="200">
                <a id="t" href="/Home/BuenosAires" class="pF">Buenos Aires</br> Pacotes</br> R$ 510,00</a>
            </div>

            <div id="F">
                <img src="~/img/Rio de Janeiro.jpg" width="280" height="200">
                <a id="t" href="/Home/RiodeJaneiro" class="pF">Rio de Janeiro </br> Pacotes</br> R$ 303,00</a>
            </div>


            <div id="F">
                <img src="~/img/pontefloriano.jpg" width="280" height="200">
                <a id="t" href="/Home/Florianopolis" class="pF">Florianopolis</br> Pacotes</br> R$ 243,00</a>
            </div>

            <div id="F">
                <img src="~/img/santiago.jpg" width="280" height="200">
                <a id="t" href="/Home/Santiago" class="pF">Santiago</br> Pacotes</br> R$ 722,00 </a>
            </div>

            <div id="F">
                <img src="~/img/buenosaires.jpg" width="280" height="200">
                <a id="t" href="/Home/BuenosAires" class="pF">Buenos Aires</br> Pacotes</br> R$ 510,00</a>
            </div>

            <div id="F">
                <img src="~/img/Rio de Janeiro.jpg" width="280" height="200">
                <a id="t" href="/Home/RiodeJaneiro" class="pF">Rio de Janeiro </br> Pacotes</br> R$ 303,00</a>
            </div>


            <div id="F">
                <img src="~/img/pontefloriano.jpg" width="280" height="200">
                <a id="t" href="/Home/Florianopolis" class="pF">Florianopolis</br> Pacotes</br> R$ 243,00</a>
            </div>

            <div id="F">
                <img src="~/img/santiago.jpg" width="280" height="200">
                <a id="t" href="/Home/Santiago" class="pF">Santiago</br> Pacotes</br> R$ 722,00 </a>
            </div>

            <div id="F">
                <img src="~/img/buenosaires.jpg" width="280" height="200">
                <a id="t" href="/Home/BuenosAires" class="pF">Buenos Aires</br> Pacotes</br> R$ 510,00</a>
            </div>

            <!--<div id="">
        <img src="~/img/praia-porto-seguro-750x450.jpg" width="280" height="200">
        <a href="/Home/Florianopolis" class="pF">Porto Seguro</br> Os melhores pacotes</a>
    </div>
        -->

        </body>
</html>


