
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Pacotes</title>
    <link href="~/Content/StyleHome.css" rel="stylesheet" type="text/css" />

</head>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <p class="saud">
            Seja Bem vindo @HttpContext.Current.User.Identity.Name
        </p>
    }
}
        <body>

            <div class="titulo">
                <h1>Compra de pacotes</h1>
                <h2>Selecione os pacotes</h2>
            </div>
            <div id="F">
                <img src="~/img/Rio de Janeiro.jpg" width="500" height="560">
                <a href="/Pacote/Index" class="pR">Rio de Janeiro </br> Pacotes</br> R$ 303,00</a>
            </div>


            <div id="F">
                <img src="~/img/pontefloriano.jpg" width="280" height="250">
                <a id="t" href="/Pacote/Index" class="pF">Florianopolis</br> Pacotes</br> R$ 243,00</a>
            </div>

            <div id="F">
                <img src="~/img/santiago.jpg" width="280" height="250">
                <a id="t" href="/Pacote/Index" class="pF">Santiago</br> Pacotes</br> R$ 722,00 </a>
            </div>

            <div id="F">
                <img src="~/img/buenosaires.jpg" width="565" height="300">
                <a id="t" href="/Pacote/Index" class="pB">Buenos Aires</br> Pacotes</br> R$ 510,00</a>
            </div>

           
        </body>
</html>


