
@{
    ViewBag.Title = "RevBuenosAires";
}

<body>
    <h2>Revise seu itinerário Buenos Aires</h2>

    <p>
        7 dez, 2018</br>
        De Viracopos - Aeroporto Internacional de Campinas (VCP)</br>
        Para Arturo Merino Benitez (SCL)
    </p>
</body>

