<link rel="stylesheet" type="text/css" href="~/Content/PagRev.css" />
<script type="text/javascript" src="~/Scripts/pagRev.js"></script>

@{
    ViewBag.Title = "RevBuenosAires";
}

<body>
    <h2>Revise seu itinerário Buenos Aires</h2>

    <p id="rev">
        <p id="de">

        </p>
        <p id="para">

        </p>
    </p>
</body>

