<link rel="stylesheet" type="text/css" href="~/Content/StylePag.css" />

@{
    ViewBag.Title = "RiodeJaneiro";
}


<body>
    <h2>Rio de Janeiro</h2>
    <div class="imgT">
        <div>
            <img class="img" src="~/img/Rio de Janeiro.jpg" width="280" height="200" float="left">
        </div>
        <div>
            <img class="img" src="~/img/bWuREk.jpg" width="280" height="200">
        </div>
        <div>
            <img class="img" src="~/img/Dicas-Rio-de-Janeiro-3.jpg" width="280" height="200">
        </div>
        <div>
            <img class="img" src="~/img/rio-de-janeiro-city-tour.jpg" width="280" height="200">
        </div>
    </div>
    <div class="conteudo">
        <img class="hotel" src="~/img/Hotel Atlantico Business Centro.jpg" width="280" height="200" />
        <p class="p">Hotel Atlantico Business Centro</p>
        <p class="p2">
            Com localização central em Rio de Janeiro, Hotel Atlantico Business Centro fica a apenas 4 minutos de caminhada de Biblioteca Nacional e a 7 minutos a pé de Arcos da Lapa. As comodidades presentes incluem um business center 24 horas, jornais de cortesia no saguão e serviço de lavanderia e lavagem a seco.
        </p>
    </div>
    <div class="preco">
        <p class="legenda">Preço por pessoa</p>
        <p class="RealP">Voo + Hotel</br>Café da manhã</br></br>  R$</p>
        <p class="precoP">2.240</p>
        <input name="Seguinte" type="button" value="Seguinte" />
    </div>

    <div class="conteudo2">
        <img class="hotel" src="~/img/Rio Othon Palace.jpg" width="280" height="200" />
        <p class="p">Rio Othon Palace</p>
        <p class="p2">
            Em Rio de Janeiro (na área de Copacabana), Rio Othon Palace está a poucos passos de Praia de Copacabana e a 14 minutos a pé de Forte de Copacabana. As comodidades presentes incluem um business center. Este hotel possui instalações para eventos com 1431 metros quadrados, incluindo salas de reunião, e é o local ideal para quem está planejando eventos em Rio de Janeiro. 
        </p>
    </div>
    <div class="preco2">
        <p class="legenda">Preço por pessoa</p>
        <p class="RealP">Voo + Hotel</br>Café da manhã</br></br>  R$</p>
        <p class="precoP">1.164</p>
        <input name="Seguinte" type="button" value="Seguinte" />
    </div>

</body>