<link rel="stylesheet" type="text/css" href="~/Content/StylePag.css" />

@{
    ViewBag.Title = "Santiago";
}

<body>
    <h2>Santiago</h2>
    <div class="imgT">
        <div>
            <img class="img" src="~/img/buenosaires.jpg" width="280" height="200" float="left">
        </div>
        <div>
            <img class="img" src="~/img/B1.jpg" width="280" height="200">
        </div>
        <div>
            <img class="img" src="~/img/B2.jpg" width="280" height="200">
        </div>
        <div>
            <img class="img" src="~/img/B3.jpeg" width="280" height="200">
        </div>
    </div>
    <div class="conteudo">
        <img class="hotel" src="~/img/hotelCumbes.jpg" width="280" height="200" />
        <p class="p">Hotel Cumbres Vitacura</p>
        <p class="p2">
            Com ótima localização em Santiago, Hotel Cumbres Vitacura fica a cerca de 15 minutos de carro de Palácio de la Moneda e de Plaza de la Constitucion. As comodidades presentes incluem um business center, serviço de lavanderia e lavagem a seco e balcão de recepção 24 horas.
        </p>
    </div>
    <div class="preco">
        <p class="legenda">Preço por pessoa</p>
        <p class="RealP">Voo + Hotel</br>Café da manhã</br></br>  R$</p>
        <p class="precoP">3.895 </p>
        <input name="Seguinte" type="button" value="Seguinte" />
    </div>

    <div class="conteudo2">
        <img class="hotel" src="~/img/hotel-diego.jpg" width="280" height="200" />
        <p class="p">Hotel Diego de Almagro Aeropuerto</p>
        <p class="p2">
            Em Santiago (na área de Pudahuel), Hotel Diego de Almagro Aeropuerto - Santiago fica a apenas 15 minutos de carro de Mercado Central e de Centro Comercial Plaza Oeste.
        </p>
    </div>
    <div class="preco2">
        <p class="legenda">Preço por pessoa</p>
        <p class="RealP">Voo + Hotel</br>Café da manhã</br></br>  R$</p>
        <p class="precoP">3.512</p>
        <input name="Seguinte" type="button" value="Seguinte" />
    </div>
    
    <div class="conteudo2">
        <img class="hotel" src="~/img/hotelibis.jpg" width="280" height="200" />
        <p class="p">ibis Santiago Estacion Central</p>
        <p class="p2">
            O hotel ibis Estación Central fica próximo à principal estação de ônibus de Santiago e a apenas 16 km do aeroporto internacional Arturo Merino Benítez. O hotel dispõe de 132 quartos, todos com ar-condicionado para seu conforto, além do restaurante Café Vino & Cia e um bar aberto 24 horas por dia
        </p>
    </div>
    <div class="preco2">
        <p class="legenda">Preço por pessoa</p>
        <p class="RealP">Voo + Hotel</br>Café da manhã</br></br>  R$</p>
        <p class="precoP">3.267</p>
        <input name="Seguinte" type="button" value="Seguinte" />
    </div>

</body>


