<link rel="stylesheet" type="text/css" href="~/Content/StylePag.css" />

@{
    ViewBag.Title = "Santiago";
}

<body>
    <h2>Santiago</h2>
    <div class="imgT">
        <div>
            <img class="img" src="~/img/buenosaires.jpg" width="280" height="200" float="left">
        </div>
        <div>
            <img class="img" src="~/img/B1.jpg" width="280" height="200">
        </div>
        <div>
            <img class="img" src="~/img/B2.jpg" width="280" height="200">
        </div>
        <div>
            <img class="img" src="~/img/B3.jpeg" width="280" height="200">
        </div>
    </div>
    <div class="conteudo">
        <img class="hotel" src="~/img/hotelcolonB.jpg" width="280" height="200" />
        <p class="p">Hotel Colón</p>
        <p class="p2">
            Com localização central em Buenos Aires, Exe Hotel Colón está a poucos passos de Obelisco e a 4 minutos a pé de Teatro Colón. As comodidades presentes incluem acesso grátis à internet com fio, um business center e jornais de cortesia no saguão. Este hotel oferece instalações para eventos, como um centro de conferências e salas de reunião.
        </p>
    </div>
    <div class="preco">
        <p class="legenda">Preço por pessoa</p>
        <p class="RealP">Voo + Hotel</br>Café da manhã</br></br>  R$</p>
        <p class="precoP">1.856 </p>
        <input name="Seguinte" type="button" value="Seguinte" />
    </div>

    <div class="conteudo2">
        <img class="hotel" src="~/img/panamericano-buenos-aires.jpg" width="280" height="200" />
        <p class="p">Hotel Panamericano</p>
        <p class="p2">
            Com localização central em Buenos Aires, Panamericano Buenos Aires Hotel está a poucos passos de Teatro Colón e a 3 minutos a pé de Obelisco. As comodidades presentes incluem acesso grátis à internet com fio, um business center e jornais de cortesia no saguão. Este hotel oferece instalações para eventos, como um centro de conferências e salas de reunião.
        </p>
    </div>
    <div class="preco2">
        <p class="legenda">Preço por pessoa</p>
        <p class="RealP">Voo + Hotel</br>Café da manhã</br></br>  R$</p>
        <p class="precoP">2.736</p>
        <input name="Seguinte" type="button" value="Seguinte" />
    </div>

</body>


