@{
    ViewBag.Title = "VerifyAccount";
}

<h2>Verificar conta</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Sucesso! </strong> Sua conta foi criada com sucesso. Clique para entrar @Html.ActionLink("Entrar","Login","User")
    </div>
}
else{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.Message
    </div>
}